.dogCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 300px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.4 );
    border-radius: 20px;
}

.dogCard div {
    display: flex;
    gap: 10px;
} 

.dogCard div h4 {
    min-width: 60px;
} 

.textDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.dogCard .img-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
}

.dogCard .img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-self: center;
    align-self: center;
}

.dogCard .dogCardButtons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.dogCard .dogCardButtons button {
    width: 100px;
    height: 30px;
    background-color: #fff;
    color: #167EA5;
    border: #167EA5 solid 1px;
    border-radius: 5px;
    font-size: 15px;
}   

.dogCard .dogCardButtons button:hover {
    background-color: #167EA5;
    color: #fff;
}

.dogCard .dogNameDiv {
    font-size: 25px;
}

.dogCard .dogCardButtons #deleteBtn {
    width: 50px;
    background-color: #fff;
    color: #720d0d;
    border: #720d0d solid 1px;
}

.dogCard .dogCardButtons #deleteBtn:hover {
    background-color: #720d0d;
    color: #fff;
    border: none;
}

.dogCard .dogCardButtons #deleteIcon {
    pointer-events: none;
}

.dogCard .img-div .reserved-img {
    position: absolute;
    object-fit: contain;
    transform: rotate(-20deg)
}

.dogCard.reservedForUser {
    background-color: #167fa560;
    border: 2px solid #167EA5;
}