.dogDetails {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 800px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    z-index: 2;
}

.dogDetails img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dogDetails .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    transition: 0.8s;
}

.dogDetails .icon:hover {
    transform: rotate(90deg);
}

.dogDetails div {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

.dogDetails div h4 {
    width: 150px;
    font-weight: 800;
}

.dogDetails div h3 {
    width: 500px;
}
