.addNewCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 300px;
    box-shadow: 0 8px 32px 0 #1f268766;
    border-radius: 20px;
    cursor: pointer;
}

.addNewCard .dogIcon {
    height: 150px;
    width: 150px;
}