.deleteDogPopup {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 450px;
    background: #fffffff2;
    box-shadow: 0 8px 32px 0 #1f26875e;
    border-radius: 10px;
    z-index: 2;
}

.deleteDogPopup div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.deleteDogPopup div button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
}

.deleteDogPopup div .confirmDelete {
    background-color: #720d0d;
    color: #fff;
}

.deleteDogPopup div .confirmDelete:hover {
    background-color: #fff;
    color: #720d0d;
    border: 1px solid #720d0d;
}

.deleteDogPopup div .cancelDelete {
    background-color: #fff;
    color: #167EA5;
    border: 1px solid #167EA5;
}

.deleteDogPopup div .cancelDelete:hover {
    background-color: #167EA5;
    color: #fff;
}

.deleteDogPopup .doggoName {
    font-weight: 600;
}

@media (max-width: 420px) {
    .deleteDogPopup {
        width: 360px;
    }
}