.orderReceived {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 800px;
    height: 800px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
}

.orderReceived img {
    width: 300px;
    height: 330px;
    object-fit: cover;
}

.orderReceived h2 {
    text-align: center;
}

@media (max-width: 420px) {
    .orderReceived {
        gap: 50px;
        width: 360px;
        height: 600px;
    }
    
    .orderReceived img {
        width: 280px;
        height: 310px;
    }
    
    .orderReceived h2 {
        width: 320px;
    }
}
