header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 50px;
    color: #3b3204;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100px;
    font-size: 20px;
    font-weight: 800;
}

header a:hover {
    color: #8e855c;
}

header #logoinheader {
    height: 100px;
    width: 180px;
    top: 0;
}

header .adminBtn {
    position: relative;
    height: 50px;
    width: 50px;
}
  
header .adminBtn .loginIcon {
    height: 30px;
    width: 30px;
}
  
header .adminBtn .loggedInIcon {
    height: 10px;
    width: 10px;
    color: #094c15;
}
  
@media (max-width: 420px) { 
    header {
        height: 100px;
        width: 100%;
        padding: 0 5px;
    }
    
    header nav {
        gap: 10px;
        font-size: 12px;
    }
    
    header #logoinheader {
        height: 50px;
        width: 90px;
    }
    /**/
    header .adminBtn {
        position: relative;
        height: 50px;
        width: 50px;
    }
      
    header .adminBtn .loginIcon {
        height: 30px;
        width: 30px;
    }
      
    header .adminBtn .loggedInIcon {
        height: 10px;
        width: 10px;
        color: #094c15;
    }
}