.actionButton {
    height: 70px;
    width: 200px;
    border-radius: 10px;
    font-size: 25px;
}

.actionButton.blue {
    background-color: #167EA5;
    color: #fff;
}

.actionButton.blue:hover {
    background-color: #fff;
    color: #167EA5;
    border: solid 2px #167EA5;
}

.actionButton.white {
    background-color: #fff;
    color: #167EA5;
    border: solid 2px #167EA5;
}

.actionButton.white:hover {
    background-color: #167EA5;
    color: #fff;
}

@media (max-width: 420px) { 
    .actionButton {
        height: 35px;
        width: 100px;
        font-size: 14px;
    }
}
    